.buttons{
  display: flex;
  padding-top: 10px;
  background-color: #fff;
  z-index:2 !important;
}
:global(.adm-picker-view){
  z-index:2;
}
.check{
  width: 400px;
}
.buttons :global(.adm-button-default){
  width: 30vw;
  z-index: 2;
}
.buttons :global(.adm-button-success){
  width: 70vw;
  z-index: 2;
}
.mask{
  position:absolute;
  top:0;
  z-index: 1;
  background-color: rgba(125,128,125,0.6);
  height: 100%;
  width: 100%;
}