.backgroundImg {
  width: 100%;
  z-index: -1;
}
.userBackground {
  height: 150px;
  width: 85%;
  margin: 0 auto;
  margin-top: -60px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 20px gray;
  z-index: 10;
  position: relative;
}
.avatar {
  position: relative;
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatar img {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
}
.loginBtn {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}
.nickname {
  margin: 0 auto;
  width: fit-content;
  font-size: 18px;
  margin-bottom: 15px;
}
.infoBox {
  position: relative;
  top: -30px;
}
.iconBox {
  text-align: center;
  margin: 20px 0;
}
.iconContent {
  margin-bottom: 10px;
}
.poster {
  width: 90%;
  margin: 0 5%;
}
.exit {
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.editInfo {
  color: gray;
  margin-top: 10px;
}
.editInfo::after {
  content: "";
  margin-left: 6px;
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: gray;
  position: relative;
}
