.rent :global(.adm-error-block){
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
}
.rent a{
  Text-decoration:none;
}
.rent span{
  font-size: 15px;
}
.rent :global(.adm-nav-bar) span{
  font-size: 24px;
}
.rentAdd{
  color: blue;
  font-size: 15px;
}