li{
  list-style: none;
}
html,body{
  height: 100%;
  font-family: 'Microsoft YaHei';
  color:#333;
  background-color: #fff;
  margin:0;
}
html,body,#root,.App{
  height: 100%;
  width: 100%;
}
*{
  margin:0;
  border:0;
  padding:0;
  box-sizing: border-box;
}

ul,li{
  list-style: none;
}

/* 给底部navbar设置背景颜色 */
.adm-tab-bar-wrap{
  background-color: #fff;
}

/* 给navbar顶部导航栏加背景颜色 */
.adm-nav-bar{
  background-color: #f6f5f6;
}
input:focus{
  outline: none;
}
textarea:focus{
  outline: none;
}